{% extends "base.html" %}
{% block title %}Home - SMAN 2 Cikpus{% endblock %}
{% block content %}
<h1>Articles</h1>
<div class="pager">
  {% if page > 1 %}
  <a href="{{ url_for('home', page=page-1, q=q) }}"><b>Previous</b></a>
  {% endif %}
  <span>Page {{ page }}</span>
  {% if total > page * 10 %}
  <a href="{{ url_for('home', page=page+1, q=q) }}"><b>Next</b></a>
  {% endif %}
</div>
<ul class="articles">
  {% for a in articles %}
  <li class="article-item">
    <a href="{{ url_for('read', slug=a.slug) }}">
      <h2>{{ a.title }}</h2>
      <p class="meta">{{ a.created }}</p>
      <p class="snippet">{{ a.snippet }}</p>
    </a>
  </li>
  {% endfor %}
</ul>

<div class="pager">
  {% if page > 1 %}
  <a href="{{ url_for('home', page=page-1, q=q) }}"><b>Previous</b></a>
  {% endif %}
  <span>Page {{ page }}</span>
  {% if total > page * 10 %}
  <a href="{{ url_for('home', page=page+1, q=q) }}"><b>Next</b></a>
  {% endif %}
</div>
{% endblock %}